body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Karla', sans-serif;
}

nav {
    background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #ffff;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10 15;
}

.leftSide {
    display: flex;
    align-items: center;
}

.leftSide > img {
    width: 40;
    height: 40;
}


nav > h4 {
    font-size: 12;
}

form {
    padding: 20;
    margin: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.inputs > input {
    margin: 15;
    padding: 6;
    border-radius: 6px;
    border: 1px solid #D5D4D8;
}

form > button {
    text-align: center;
    padding: 10;
    margin: 15;
    background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    border-radius: 6px;
    font-size: 16;
}

.test {
    display: none;
}

.img-result {
    width: 300;
    position: absolute;
    top: 50%;
    left: 20%;
}